@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ff0000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shadow {
  @apply shadow-none; /* Reset any existing shadow */
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, 
              rgba(240, 46, 170, 0.3) -10px 10px, 
              rgba(240, 46, 170, 0.2) -15px 15px, 
              rgba(240, 46, 170, 0.1) -20px 20px, 
              rgba(240, 46, 170, 0.05) -25px 25px;
}